<app-dinodex-toolbar></app-dinodex-toolbar>
<mat-sidenav-container class="sidenav-dinodex">
  <mat-sidenav mode="side" opened>
  <h1>Fonctionnalités présentes :</h1><br>
  <div class="entite">
    <h2>Pour l'entité parent "Classification" :</h2>
    -Liste en GridList (GET).<br>
    -Liste en tableau (GET).<br>
    -Ajout via un formulaire (POST).<br>
    -Suppression via un bouton (DELETE).<br>
    -Modification via un formulaire (PUT).<br>
  </div>
  <div class="entite">
    <h2>Pour l'entité enfant "Dinosaure" :</h2>
    -Liste en gridList (GET).<br>
    -Liste en tableau (GET).<br>
    -Ajout via un formulaire (POST).<br>
    -Suppression via un bouton (DELETE).<br>
    -Modification via un formulaire (PUT).<br>
    -Affichage des informations via un dialog (onClick).<br>
  </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
