<h1 mat-dialog-title>{{data.espece}}</h1>
<div mat-dialog-content>
    <div class="blockLabel">
        <label>Taille de la créature :</label>
    </div>
    <div class="blockInfo">
        {{data.taille}} Mètres
    </div>
    <div class="blockLabel">
        <label>Poids de la créature :</label>
    </div>
    <div class="blockInfo">
        {{data.poids}} Kg
    </div>
    <div class="blockLabel">
        <label>Période de la créature :</label>
    </div>
    <div class="blockInfo">
        {{data.periode}}
    </div>
    <div class="blockLabel">
        <label>Ennemi de la créature :</label>
    </div>
    <div class="blockInfo">
        {{data.ennemi}}
    </div>
</div>

