<div>
    <a mat-raised-button color="warn" class="link" *ngIf="classification" [routerLink]="['/classifications', classification]">Retour</a>
</div>
<div class="block">
    <h1 [routerLink]="['/']">Liste des créatures</h1>
</div>
<div class="block" *ngIf="classification">
    <a mat-raised-button color="primary" class="link" [routerLink]="['/dinosaure-add', classification]">Ajouter</a>
</div>

<table mat-table [dataSource]="dinosaures">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="espece">
        <th mat-header-cell *matHeaderCellDef>Espece</th>
        <td mat-cell *matCellDef="let element"> {{element.espece}} </td>
    </ng-container>
    
    <ng-container matColumnDef="taille">
        <th mat-header-cell *matHeaderCellDef>Taille</th>
        <td mat-cell *matCellDef="let element"> {{element.taille}} </td>
    </ng-container>
    
    <ng-container matColumnDef="poids">
        <th mat-header-cell *matHeaderCellDef>Poids</th>
        <td mat-cell *matCellDef="let element"> {{element.poids}} </td>
    </ng-container>

    <ng-container matColumnDef="periode">
        <th mat-header-cell *matHeaderCellDef>Période</th>
        <td mat-cell *matCellDef="let element"> {{element.periode}} </td>
    </ng-container>

    <ng-container matColumnDef="ennemi">
        <th mat-header-cell *matHeaderCellDef>Ennemi</th>
        <td mat-cell *matCellDef="let element"> {{element.ennemi}} </td>
    </ng-container>
    
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element"> {{element.image}} </td>
    </ng-container>

    <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef>Supprimer</th>
        <td mat-cell *matCellDef="let element"><a (click)="delete(element.id)"><i class="material-icons">delete_forever</i></a></td>
    </ng-container>

    <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef>Modifier</th>
        <td mat-cell *matCellDef="let element"><a [routerLink]="['/dinosaure-update', element.id]"><i class="material-icons">subject</i></a></td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
